:root {
  --primary-color: rgba(98, 155, 255, 0.81);
  --transition: all 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(216, 28%, 7%);
  color: hsl(210, 17%, 82%);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.logo {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  padding: 10px;
  display: inline-block;
  z-index: 2;
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

.logo:hover {
  color: var(--primary-color);
}

div[contenteditable] {
  width: max-content;
  min-width: 1px;
  outline: none;
  position: absolute;
  text-align: left;
  touch-action: none;
  user-select: none;
}
div[contenteditable].selected {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px dashed var(--primary-color);
}
.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 2px solid var(--primary-color);
  border-radius: 0.1em;
}

.text-size {
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  transition: var(--transition);
}
.saveAs {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: var(--transition);
}
.saveAs > svg {
  pointer-events: none;
}
.saveAs:hover {
  color: var(--primary-color);
}